@charset "utf-8";

$is-black-layout: is-black, #0a0a0a, #fff;
$is-dark-layout: is-dark, #363636, #fff;
$is-light-layout: is-light, #f5f5f5, rgba(0,0,0,.7);
$is-white-layout: is-white, #fff, #0a0a0a;

@mixin paint-tag($paint-class, $bg-color, $fg-color) {
	&.#{$paint-class} {
		background-color: $bg-color;
		color: $fg-color;
	}
}

.tags {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	&:last-child {
		margin-bottom: -0.5rem;
	}

	.tag {
		margin-bottom: 0.5rem;

		&:not(:last-child) {
			margin-right: .5rem;
		}
	}
}

.tag:not(body) {
	align-items: center;
	border-radius: 4px;
	display: inline-flex;
	font-size: .75rem;
	height: 2em;
	justify-content: center;
	line-height: 1.5;
	padding-left: 0.75em;
	padding-right: 0.75em;
	white-space: nowrap;

	@include paint-tag($is-black-layout...);
	@include paint-tag($is-dark-layout...);
	@include paint-tag($is-light-layout...);
	@include paint-tag($is-white-layout...);
}
